.menu-container, .menu-container-sm {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-right: 3px solid #ccc;
    grid-area: 🗺;
    position: fixed;
    width: 250px;
    height: 100vh;
}

.menu-container-sm {
    display: none;
}

.menu-m {
    display: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #eee;
    background: #222f3e;
}

@media (max-width: 920px) {
    .menu-container {
        width: 200px;
    }
    .menu-m {
        display: none;
    }
}

@media (max-width: 860px) {
    .menu-container {
        display: none;
        width: 100vw;
        overflow: auto;
    }
    .menu-m {
        display: block;
        position: absolute;
        width: 70px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        right: 0px;
        z-index: 1000;
    }
    .menu-container-sm {
        width: 100vw;
        overflow: auto;
        background-color: #fff;
        z-index: 1000;
    }
}