@font-face {
    src: url(../fonts/Signika-Regular.ttf);
    font-family: 'Signika';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Signika';
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.app {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr 1vh;
    grid-template-areas: 
    '🗺 📮';
}


@media (max-width: 860px) {
    .app {
        display: unset;
    }
}