@font-face {
    src: url(../fonts/Signika-Regular.ttf);
    font-family: 'Signika';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Signika';
}

body {
    min-height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    justify-content: center;
}

.app .container {
    flex: 1;
    height: 100vh;
    background-color: #f1f2f6;
}

@media (max-width: 860px) {
    .app {
        display: block;
    }
    .app .container {
        width: 100vw;
    }
}