.alinhamento p::selection, .alinhamento a::selection, .alinhamento strong::selection, .alinhamento h1::selection, .alinhamento img::selection, .alinhamento span::selection, .alinhamento h2::selection, .alinhamento li::selection, .alinhamento label::selection, .alinhamento button::selection, .alinhamento input::selection {
    background: #9b59b6;
    color: #fff;
}

.alinhamento h1 {
    color: #9b59b6;
}

.alinhamento a:hover {
    color: #9b59b6;
}

.alinhamento img {
    align-self: center;
}

.example-formula {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:  1.3em;
    font-weight: 900;
    margin: 15px;
    color: rgb(97, 97, 97);
}

.calculating-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.btn-align {
    color: #fff;
    padding: 10px;
    background-color: #9b59b6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.coords-alignment {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.coords-alignment input {
    width: 50px;
    margin: 5px;
}

.alignment-result {
    width: 500px;
    height: 300px;
    border-radius: 5px;
    border: 3px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 50px;
    align-self: center;
}

.grid-matriz {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin: 15px;
    text-align: center;
    padding: 0px 10px;
    border-left: 3px solid black;
    border-right: 3px solid black;
    min-width: 80px;
}

@media (max-width: 860px ) {
    .alignment-result {
        width: 300px;
        align-self: center;
    }
    .btn-align {
        align-self: center;
    }
    .coords-alignment {
        flex-direction: column;
        justify-content: center;
    }
}